body{
    background-color: blanchedalmond;
}

input
{
    margin: 10px;
}
th
{
    background-color: coral;  
}

.locationInput
{
    margin-top: 20px;
}
.tableRow{
    width: 40%;
      
}

.tableCol{
    width: 10%;   
    
}